// ==========================================================================
// Footer Styling
// ==========================================================================

footer {
    background-color: #323544;
}

.logo-container {
    width: 250px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.logo-container img {
    width: 100%;
    object-fit: cover;
}

.follow {
    text-transform: uppercase;
}

.social-icon-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}




.social-icon {
    font-size: 1.5em;
    padding: 10px 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #212330;
}

.footer-links-box h3 {
    font-weight: 400;
    margin-top: 40px;
    font-size: .95rem;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.footer-links li {
    font-weight: 300;
    font-size: .8rem;
    padding-bottom: 5px;
}

footer .container {
    display: flex;
    flex-direction: column;
}

.sub-footer {
    background-color: #212330;
    padding: 15px;
}

.sub-footer p {
    margin: 0;
    font-size: .85rem;
    line-height: normal;
}