// ==========================================================================
// Search Section Styles
// ==========================================================================

.header-flex {
    display: flex;
    justify-content: space-between;
}

.search-box {
    padding: 20px 0;
    align-items: center;

}

.search-bar-mobile form {
    position: relative;
}

.search-bar-mobile form input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 5px 40px 5px 10px;
    background-color: #e5e5e5;
    border: 2px solid #cecece;
}

.search-bar-mobile form button {
    color: #333645;
    position: absolute;
    right: 5px;
    height: 50px;
    font-size: 24px;
    border: none;
    padding: 0 5px;
    background-color: #e5e5e5;
    border-top: 2px solid #cecece;
    border-bottom: 2px solid #cecece;
}



.mobile-search-bar {
    display: inline-block;
    width: 100%;
}

.main-logo {
    float: left;
    margin: 0 10px;
    cursor: pointer;
    max-width: 370px;
}

.main-logo img {
    max-width: 100%;
}

.btn-container {
    float: left;
}

.search-container {
    display: flex;
    float: right;
}


.search-functions {
    display: flex;
    align-items: center;
    vertical-align: middle;
    align-items: center;
    float: right;
}

.searchbar-btn {
    display: inline-block;
    font-weight: 400;
    height: 56px;
    line-height: 46px;
    color: #fff;
    font-size: 1.125rem;
    padding: 5px 15px;
    border-radius: 3px;
    text-transform: uppercase;
}

.searchbar-btn .icon-container {
    margin-right: 5px;
    font-size: 1.438rem;
    font-weight: 400;
}


.searchbar-btn.btn-support {
    background-color: #4183d7;
    margin-right: -5px;


}

.searchbar-btn.btn-contact {
    background-color: #999aa2;
    margin-left: 20px;
}

.search-bar {
    height: 56px;
    padding: 5px 10px;
    margin-left: 20px;
    border: 1px solid #999aa2;
}

.search-container .icon-box {
    height: 56px;
    display: inline-block;
    align-items: center;
    font-size: 1.1rem;
    padding: 13px 20px;
    font-size: 1.063rem;
    color: #fff;
    border-radius: 3px;
    background-color: #999aa2;
    margin-left: 20px;
}

.search-functions .phone {
    color: #333645;
    font-size: 32px;
}

.hamburger-box {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    height: 56px;
    padding: 10px;
    margin-left: 20px;
    background-color: #333645;
}

.bar {
    width: 35px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
}


header .container {
    display: table;
}