// ==========================================================================
// Newsletter Styling
// ==========================================================================

.newsletter-container {
    color: #333645;
    background-color: #ddd;
    padding-left: 15px;
    padding-right: 15px;
}

.form-title {
    font-size: 2rem;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 20px;
}

.newsletter-signup .form-input {
    display: flex;
    flex-direction: column;
}

.form-input label {
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
}

.form-input .input-box label::after {
    content: " *";
    color: #d24d57;
}

.form-input input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
}

.marketing-check {
    display: flex;
    padding-top: 10px;
    align-items: center;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    box-shadow: null;
}

.marketing-check input {
    align-self: flex-start;
    width: 32px;
    height: 32px;
    margin-right: 15px;
    border-radius: 3px;
    background-color: #ddd;
    border: 3px solid #333645;
    cursor: pointer;
}

.marketing-text {
    font-weight: bold;
}

.marketing-text a {
    color: #333645;
    text-decoration: underline;
}

.btn.btn-submit {
    border: none;
    padding: 5px 15px;
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.btn.btn-submit:hover {
    background-color: #22242e;
}