// ==========================================================================
// Mobile Nav Style
// ==========================================================================

.mobile-nav {
    display: none;
    line-height: 1.42;
}

.mobile-nav .mobile-nav-container .container ul {
    list-style: none;
}

.mobile-nav-container .container {
    padding: 21px;
    width: 275px;
    background-color: #333645;
}

.mobile-nav-item a.contact {
    margin-top: 0;
}

.mobile-nav-item a {
    display: block;
    text-align: center;
    padding: 19px 0 18px;
    outline: 1px solid #00000040;
    border: 1px solid #ffffff1a;
    border-radius: 3px;
    margin-top: 20px;
}

.mobile-nav-item .mobile-nav-icon-container {
    display: block;
    font-size: 1.375rem;
    padding-bottom: 5px;
}

.mobile-nav-item small {
    display: block;
    font-size: .625rem;
}

.mobile-nav-item a {
    font-size: 1.125rem;
}

.sub-nav {
    margin-top: 20px;
}

.sub-nav-item a {
    display: block;
    background-color: #00000040;
    padding: 10px;
    border-top: 1px solid hsla(0, 0%, 100%, .05);
}

.sub-nav-item {
    text-align: center !important;
}






// ==========================================================================
// Side Menu Style
// ==========================================================================


.side-menu {
    background-color: #3d404e;
    text-transform: uppercase;
    width: 275px;
    position: fixed;
    top: 0;
    right: 0px;
    height: 100%;
    overflow-y: auto !important;
}

#container.active2 {
    height: 100vh;
    overflow: hidden;
    left: -275px;
    transition: all .5s ease;
}

.no-scroll {
    overflow: hidden;
}


.side-menu-box {
    height: 100%;
}

.side-menu.active2 {
    overflow-y: auto;
}

.side-menu-box .side-menu-links li {
    font-size: 1rem;
}

.side-menu-links li:not(:first-child) {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, .45);
    background-color: #262834;
    font-size: .875rem;
    line-height: 1.42857143;
}

.side-menu-links li a {
    display: block;
    padding: 15px 20px;
    border-top: 1px solid hsla(0, 0%, 100%, .05);
}

.side-menu-title {
    display: block;
    height: 58px;
    align-items: center;
    background-color: #333645;
    border-top: 1px solid hsla(0, 0%, 100%, .05);
}


.side-menu-links .side-menu-title a {
    padding: 20px;
    height: 58px;
    align-items: center;

}


.side-menu-links li:not(:first-child) .icon-container {
    vertical-align: middle;
    padding-right: 15px;
    font-size: .5rem;
}

.side-menu-links:hover .side-menu-title {
    background-color: hsla(0, 0%, 100%, .05);
}